* {
    margin: 0;
    border: 0;
}

.nav-bar-container
{
    align-content: right;
}
.nav-bar {
    background-color:gray;
}
.menu-item {
    text-decoration: none;
    display:inline;
    background-color: whitesmoke;
}