:root 
{
    --IdontKnow:200px;
}

* {
    margin: 0;
    border: 0;
    width:100%;
}

body {
    height: 100%;
    background-size:100%;
    background-position:center;
    padding:0;
    margin: 0;
    background-color: #CCCCCC;
    background-image: url("../images/pexels-aleksandar-pasaric-2338113.jpg");
    background-repeat:no-repeat;
    
}


@media screen and (min-width:1000px) {

    .article {
        position:relative;
        left:30vw;
        width:50vw;
        display:inline-block;
        color:white;
        place-items: center;
        border: solid 2px greenyellow;
        background-color: rgba(0,0,0, 0.6);
    }

}





.article .headline {
    text-align: center;
    font-family:monospace;
    font-size:70px;
    color:blanchedalmond;
}

.nav-bar-container
{
    width:100%;
    align-content: right;
}
.nav-bar {
    width:100%;
    background-color:gray;
}
.menu-item {
    text-decoration: none;
    display:inline;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
}